@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Afacad&family=Autour+One&family=Caveat:wght@500&family=Great+Vibes&family=Indie+Flower&family=Playfair+Display&family=Roboto:wght@100&family=Whisper&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-size: 1.2rem;
    font-family: "Playfair Display", sans-serif;
    background-color: rgb(219, 199, 199);
    min-height: 100vh;
}
.welcome{
    height: 100vh;
}


.Name{
    font-family: "Playfair Display","Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
     
}

header{
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.links{
    display: flex;
    width: 35%;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.links a:hover, .links a:focus{
    transform: scale(1.3);
    transition: all 2s;
}

.links a:any-link{
    color: black;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#About{
    width: 45%;
    height: 55%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 4rem;
}

.name{
    font-size: 5rem;
}

.briefintro{
    font-size: 1.1rem;
}

.ME{
    border: 2px solid;
    border-radius: 50%;
}
.title{
    text-align: center;
    font-size: 3rem;
}
.projectdes{
    text-align: center;
    font-size: 1.5rem;
}
.entries{
    display: flex;
    flex-wrap: nowrap;
}
.entry{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 32%;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(37, 83, 83);
}

.text{
    width: 100%;
}
.buttons{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: auto;

}
video{
    border-radius: 15px;
}

h2{
    text-align: center;
}
button{
    height: 30px;
    width: 40px;
    background-color: rgb(79, 116, 104);
    border-radius: 5px;
}

button:hover{
    transform: scale(1.1);
    background-color: blue;
    transition: all 1s;
}
#skills{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.Abilities{
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-auto-rows: minmax(150px, 220px);
    justify-content: center;
    width: 60%;
    gap: 1rem;
}

.skill{
    border: 2px solid;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}

.lang{
    text-align: center;
}

.skill:hover{
    color: red;
}

#Contact{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
}
.Form{
    border: 2px solid;
    width: 60%;
    border-radius: 15px;
}
input{
    width: 25%;
    height: 15px;
    border-radius: 15px;
    padding: 1rem;
}

textarea{
    border-radius: 15px;
    padding: 0.5rem 1.2rem;
}

.send{
    width: 30%;
    border-radius: 5px;
}

footer{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

footer a, footer a:any-link{
    text-decoration: none;
    color: black;
}